.footer {
    margin-top: 153px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
  }
  
  .marketplace-logo img {
     width: 176px;
     height:27px ;
       /* Adjust size as needed */
  }
  
  .footer-links {
    display: flex;
    gap: 1rem;
  }
  
  .footer-link img {
    transition: transform 0.3s ease;
  }
  
  .footer-link img:hover {
    transform: scale(1.1);  /* Slight zoom effect on hover */
  }